.page.theme_dark {
  --accent-color: #ff0070;
  --title-decor: #ff0070;
  --title-color:#db00ff;
  --decor-element: #ff0070;
  --extra-color: #db00ff;
  --bg-color: #000028;
  --font-color: #000028;
  --font-color-paragraph: #f1b2ce;
  --bg-image: url(../images/cover-image-dark.png);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--title-decor);
}