.page.theme_light {
  --accent-color: #ff8dcb;
  --title-decor: #353430;
  --extra-color: #ff0070;
  --hovereffect: rgba(50, 49, 45, 0.4);
  --h1-color: #ffc2e6;
  --bg-color: #fff1f7;
  --decor-element: #fff1f7;
  --font-color: #353430;
  --font-color-paragraph: #353430;
  --bg-image: url(../images/cover-image-light.png);
}


@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --title-decor: #353430;
    --extra-color: #ff0070;
    --hovereffect: rgba(50, 49, 45, 0.4);
    --h1-color: #ffc2e6;
    --decor-element: #fff1f7;
    --title-color: #ffc2e6;
    --bg-color: #fff1f7;
    --font-color: #353430;
    --font-color-paragraph: #353430;
    --bg-image: url(../images/cover-image-light.png);
  }
}
