/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* в файле style.css прописать ТОЛЬКО те стили которые НЕ ОТНОСЯТСЯ к темам, а универсальны для всех тем */
.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */

  color: var(--font-color);
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-attachment: scroll; 
  background-position: center;
  background-size: cover;
  padding: 20px;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  
  align-self: center;
  position: relative;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-block-size: 768px;
  block-size: 100vh;
  
}

.header__rec {
  color: var(--accent-color);
  position: absolute;
  font-weight: 400;
  line-height: 25px;
  top: 20px;
  right: 48px;
}

.header__rec::after {
content: "";
display: inline-block;
width: 9px;
height: 9px;
margin-inline-end: 10px;
border-radius: 50%;
background-color: var(--accent-color);
filter: drop-shadow(0px 0px 4px var(--accent-color));
}

.decorated-zone {
  height: 100%;
  width: 100%;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
}

/* Кнопки, меню */

.header__theme-menu {
  display: flex;
  justify-content: center;
}
.header__theme-menu-list {
  display: flex;
  flex-direction: row;
}

.header__theme-menu-button {
  appearance: none;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-color);
  text-align: center;
  font-weight: 400;
  line-height: 18px;
  padding: 4px 13px;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--accent-color);
}

.title-decor {
}


.title1 {


  margin-top: auto;
  margin-bottom: auto;
  color: var(--extra-color);
  font-size: 157px;
  line-height: 82.5%; /* 95.7px */
  text-shadow: 4px 4px 0 var(--accent-color);
}
.subtitle {
  display: flex;
  width: 50%;
  height:fit-content;
  margin-left: auto;
}
.title2 {
  color: var(--accent-color);
}

.title3 {

  background-color: var(--accent-color);
}

.title4 {
  align-self: stretch;
  background-color: var(--accent-color);
  color: var(--font-color);
  font-weight: 400;
}

.card_text {
  color: var(--font-color-paragraph);
  font-weight: 400;
}

.galery {
  display: grid;
  gap: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);

}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
} 


@media (width > 767px) {
  .galery {
  display: grid;
  gap: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
  "sunset sunset ice-cream"
  "tape books ice-cream"
  "tape street street"
  "tape street street";
  }

  .image:nth-child(1) {
    grid-area: sunset;
  }
  .image:nth-child(2) {
    grid-area: ice-cream;
  }
}

@media (width > 375px) {
  .galery {
    display: grid;
    gap: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "sunset sunset sunset"
    
    "
    "tape books ice-cream"
    "tape street street"
    "tape street street";
    }
  
    .image:nth-child(1) {
      grid-area: sunset;
    }
    .image:nth-child(2) {
      grid-area: ice-cream;
    }

}