/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* в файле style.css прописать ТОЛЬКО те стили которые НЕ ОТНОСЯТСЯ к темам, а универсальны для всех тем */
.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  color: var(--font-color);
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  max-width: 1024px;
  min-width: 375px;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  /* align-content: center;
  justify-content: center;
  position: relative; */
}

/* HEADER */

.header {
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-block-size: 768px;
  height: 100vh;
}
.header__rec {
  color: var(--accent-color);
  position: absolute;
  font-weight: 400;
  line-height: 25px;
  top: clamp(10px, 5vw, 20px);;
  right: clamp(10px, 5vw, 20px);;
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-inline-end: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  display: block;
  height: 25px;
  width: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  right: clamp(10px, 5vw, 20px);
  top: clamp(10px, 5vw, 20px);
}
.decorated-zone::after {
  content: "";
  position: absolute;
  display: block;
  height: 25px;
  width: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  left: clamp(10px, 5vw, 20px);
  bottom: clamp(10px, 5vw, 20px);
}

/* Кнопки в  меню */
.header__theme-menu {
  justify-self: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  appearance: none;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-color);
  text-align: center;
  font-weight: 400;
  line-height: 18px;
  padding: 4px 13px;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--accent-color);
}
.header__theme-menu-button_active:focus {
  pointer-events: none;
}

.title1 {
  margin-top: auto;
  margin-bottom: auto;
  color: var(--extra-color);
  font-size: 157px;
  line-height: 82.5%; /* 95.7px */
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-left: -20px;
  align-self: center;
}
.subtitle-header {
  justify-self: end;
  align-self: center;
  width: 50%;
  height: fit-content;
}

/* BODY */
.body {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 0px 20px;
}

.section {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 20px;
}
.h2 {
  font-size: inherit;
  color: var(--accent-color);
}
.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-big {
  grid-column-start: 2;
  grid-column-end: 4;
}

.h3 {
  font-size: inherit;
  background-color: var(--accent-color);
}

.card_text {
  color: var(--font-color-paragraph);
  font-weight: 400;
}

/* разделение на section2 и 2-1 требуется для того чтоб карточки
при добавлении переносились на новую строку */

.section2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section2-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.section-subtitle2 {
  width: 33%;
}

.section3 {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 20px;
}

.section-subtitle3 {
  grid-row-start: 1;
  grid-row-end: 6;
  grid-column-start: 0;
  grid-column-end: 2;
}

.h4 {
  align-self: stretch;
  background-color: var(--accent-color);
  color: var(--font-color);
  font-weight: 400;
  font-size: inherit;
}
.section4 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.galery {
  display: grid;
  gap: 20px;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(3, auto);
}

.galery-subtitle {
  grid-column-start: 1;
  grid-column-end: 4;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sunset {
  grid-column-start: 1;
  grid-column-end: 3;

  /* height: 260px; */
}

.ice-cream {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  /* width: 315px; */
}

.books {
  grid-row-start: 2;
  grid-column-start: 2;
}

.tape {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 4;
}

.street {
  grid-column-start: 2;
  grid-column-end: 4;
}

.footer {
  display: flex;
  height: 768px;
  align-items: center;
  justify-content: center;
}
@media (668px <= width < 1024px) {
  .page {
   

    max-width: 668px;
    min-width: 375px;
  }
  .section {
    display: flex;
    flex-direction: column;
  }
  .section3 {
    display: flex;
    flex-direction: column;
  }
  .section4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
.section-subtitle2 {
  width: 100%;
}
.section2-1 {
  display: flex;
  flex-direction: column;
}

/* @media (max-width: 768px) {
  .section-subtitle2 {
    width: 100%;
  }
  .section2-1 {
    display: flex;
    flex-direction: column;
  }
}
*/

@media (375px <= width < 667px) {
  .header {
    min-block-size: 375px;
    height: 100vh;
    min-height: 668px;
    padding: 10px;
    
  }

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.title1 {
  font-size: 116px;
  margin-left: 0px;
}
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
}

.subtitle-header {
  width: 100%;
}
.body{
  gap:50px;
}
.section {
  display: flex;
  flex-direction: column;
}
.section3 {
  display: flex;
  flex-direction: column;
}
.section4{
  gap:10px;
}
.galery {
  display: flex;
  flex-direction: column;
  gap:10px
}
}