:root {
 --accent-color: #FF0070;
  --title-decor: #FF0070;
  --decor-element:#FF0070;
  --extra-color: #DB00FF;
  --bg-color: #000028;
  --font-color: #000028;
  --font-color-paragraph:#F1B2CE;
  --bg-image: url(../images/cover-image-dark.png);
}

